.background {
  background-image: url("BackgroundFlight1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  background-color: wheat;
}
img {
  border: 5px solid #555;
}

div.container {
  display: inline-block;
  padding: 20px;
}

p {
  font-size: 20px;
  font-family: "Glyphicons Halflings";
  margin: 10px 25px 20px 25px;
  text-align: justify;
}

form {
  height: 380px;
  width: 500px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 4px;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.15);
}
ul {
  font-size: 20px;
  font-family: "Glyphicons Halflings";
  margin: 10px 25px 20px 25px;
  text-align: justify;
}

.navi {
  margin-top: -9px;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.navi ul li {
  list-style: none;
  display: inline;
  float: right;
  color: white;
  font-size: 20px;
  padding: 5px;
}
.navi ul a {
  text-decoration: none;
}
.navi ul li:hover {
  color: #211b4385;
}
td {
  text-align: center;
}
