<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>    
    <body bgcolor="wheat">
        <div class="navi" style="margin-top:-20px;">
            <ul>
            <a href="Conclusion"><li style="padding:4px;">Conclusion</li></a>
            <a href="table"><li style="padding:4px;">Table</li></a>
            <a href="First"><li style="padding:4px;">Analysis</li></a>
            <a href="Home"><li style="padding:4px;">About</li></a>
            <a href="/"><li style="padding:4px;">Predict</li></a>
            </ul>
        </div>
            <center>
                <h1>CONCLUSION</h1>
            </center>
            <ul style="margin:40px 25px 20px 25px">
                <li> Jet Airways is the most preferred airline with the highest number of row count, followed by Indigo and AirIndia.</li>
                <p/>
                <li> Majority of the flights take off from Delhi.</li>
                <p/>
                <li> Maximum flights land in Cochin.</li>
                <p/>
                <li> Majority of the flights have 1 stop, flight with 3 and 4 stops are quite low.</li>
                <p/>
                <li> There is no specific dates when the flight travel, the distribution is almost the same for all dates.</li>
                <p/>
                <li> People tend to travel more in the month of May and June as they are the holiday months.</li>
                <p/>
                <li> People travel less in the month of April.</li>
                <p/>
                <li> Majority of the flight have travel time for 2-6 hrs as all the flights are domestic flights.</li>
                <p/>
                <li> Maximum price flight is Rs 79,512 and minimum price flight is Rs 1,759. Majority of the flights have price range between 1,759-20,000 and the number of flights having price greater than 20,0000 are quite less.</li>
                <p/>
                <li> Prices are higher in the month of March.</li>
                <p/>
                <li> As the number of stops and duration of flight increases the price of the flight increases as they are corelated.</li>
                <p/>
                <li> Random Forest model has the best accuracy in predicting the price of the flight with the help of different features with an R2 score of above 85% (85.44%).</li>
            </ul>
        <br><br><br>
        <center>
            <h2>To View My Full Report Click On the Link Given Below</h2>
        <a href="static/FlightFarePredictionAnalysis.docx" download="AyushPandeyReport.docx" style="font-size:20px;">Ayush Report</a>
        </center>
        <br><br>
        <br>
        <center>
            <ul class="pagination">
                <li><a href="/">Predict</a></li>
                <li><a href="Home">About</a></li>
                <li><a href="First">Analysis</a></li>
                <li><a href="table">Table</a></li>
                <li><a href="Conclusion">Conclusion</a></li>
              </ul>
        </center>
    </body>
</html>